<?xml version='1.0' encoding='windows-1252'?>

<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the directory containing the
                      binaries (exes) to include. The default would be
                      "target\release\". If an explicit rustc target triple is
                      used, i.e. cross-compiling, then the default path would
                      be "target\<CARGO_TARGET>\<CARGO_PROFILE>",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the "CargoProfile" variable. This can also
                      be overridden manually with the "target-bin-dir" flag.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = The cargo profile used to build the binaries
                      (usually "debug" or "release").
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
            Id='*'
            Name='Restic Service'
            UpgradeCode='5FE355A4-E84D-4AD1-92D6-BE51FD1DE867'
            Manufacturer='Mark Lopez (Silvenga)'
            Language='1033'
            Codepage='1252'
            Version='$(var.Version)'>

        <Package Id='*'
                 Keywords='Installer'
                 Description='A simple service for Windows that hosts and executes restic backup/forget runs.'
                 Manufacturer='Mark Lopez (Silvenga)'
                 InstallerVersion='450'
                 Languages='1033'
                 Compressed='yes'
                 InstallScope='perMachine'
                 SummaryCodepage='1252'
        />

        <MajorUpgrade
                Schedule='afterInstallInitialize'
                DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Restic Service Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Restic Service'>

                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                              DiskId='1'
                              Source='wix\License.rtf'
                              KeyPath='yes'/>
                    </Component>

                    <Component Id='DefaultConfig' Guid='*'>
                        <File Id='DefaultConfigFile'
                              DiskId='1'
                              Source='wix\service_config.toml'
                              KeyPath='yes'/>
                    </Component>


                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='30BB6E51-B565-4567-9B7F-F2A15BFFD1B2' KeyPath='yes'>
                            <Environment Id='PATH'
                                         Name='PATH'
                                         Value='[Bin]'
                                         Permanent='no'
                                         Part='last'
                                         Action='set'
                                         System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File Id='exe0'
                                  Name='restic-service.exe'
                                  DiskId='1'
                                  Source='$(var.CargoTargetBinDir)\restic-service.exe'
                                  KeyPath='yes'/>
                            <ServiceInstall Id="ServiceInstaller"
                                            Type="ownProcess"
                                            Name="Silvenga.ResticService"
                                            DisplayName="Restic Service"
                                            Description="A simple service for Windows that hosts and executes restic backup/forget runs."
                                            Start="auto"
                                            ErrorControl="normal"/>
                            <ServiceControl Id="StartService"
                                            Start="install"
                                            Stop="both"
                                            Remove="uninstall"
                                            Name="Silvenga.ResticService"
                                            Wait="yes"/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='Binaries' ConfigurableDirectory='APPLICATIONFOLDER'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='DefaultConfig'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='Path'/>
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>
        <Property Id='ARPHELPLINK' Value='https://github.com/Silvenga/restic-service'/>

        <UI>
            <UIRef Id='WixUI_InstallDir'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
    </Product>

</Wix>
