name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  actions: read
  contents: write
  pull-requests: write

jobs:
  check:
    name: Check
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - name: Install Restic
        shell: pwsh
        run: |
          winget install --exact --id restic.restic --scope Machine --accept-source-agreements --accept-package-agreements
          "C:\Program Files\WinGet\Links\" >> $env:GITHUB_PATH
      - name: Test
        run: cargo test --no-fail-fast

  build:
    name: Build
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
      # Rust
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
      - name: Install Cargo Make
        run: |
          cargo install cargo-make
          cargo install tauri-cli
      # WiX
      - name: Install WiX
        run: |
          winget install WiXToolset.WiXCLI --accept-source-agreements --accept-package-agreements
          "C:\Program Files\WiX Toolset v6.0\bin\" >> $env:GITHUB_PATH
      - name: Install WiX Extension
        run: |
          wix extension add -g WixToolset.UI.wixext

      # Node
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Restore Yarn Dependencies
        env:
          YARN_GLOBAL_FOLDER: ${{ github.workspace }}/.yarn/global
        run: |
          cd src/monitor
          corepack enable
          yarn install

      - name: Build Release
        run: |
          cargo make release

      - uses: actions/upload-artifact@v4
        with:
          name: installer
          path: |
            target/release/restic-service-installer.msi
